*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container{
    background: linear-gradient(to right, #eef1f2, #cbdff1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sigin{
    background-color: rgb(243, 243, 245);
    width: 500px;
    height: 580px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px  rgba(0, 0, 0, 0.1),
    -10px -10px 15px rgba(0, 0, 0, 0.1);;/*[horizontal offset] [vertical offset] [blur radius] [spread radius] [color]*/
}