* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'General Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0px 40px;
    height: 50px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    
    
}

.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
}

/*left */
.navbar-left {
    flex: 1;
    justify-content: flex-start;
}
.navbar-left img {
    width: 87px; 
    height: auto; 
    margin-left: 20px; 
    cursor: pointer;
}

/*center */
.navbar-center {
    flex: 2;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-center li a {
    display: flex;
    margin: 0 20px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: smaller;
    transition:  color 0.3s ease-in-out;
  }
  
  .navbar-center li a:hover {
    
    color: red;
  }

/*right side*/
.navbar-right {
    flex: 1;
    justify-content:flex-end;
    margin-right: 50px;   
}

.navbar-right a img {
    margin-left: 30px;
    cursor: pointer; 
}

.navbar-right img {
    width: 18px;
    height: 18px;
    margin-top: 10px;
    
  }
  
/*-----------------------------------*/